name: release

on:
  workflow_dispatch:
    inputs:
      target_subproject:
        description: leave it empty to build all, use `,` split versions
        type: string
        required: false
        default: ''

  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#release
  release:
    types: [published]

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    with:
      target_subproject: ${{ github.event.inputs.target_subproject }}
      release: true

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs:
      - build

    # allow the mod publish step to add asserts to release
    # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
    permissions:
      contents: write

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v3

      # https://github.com/actions/download-artifact
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: build-artifacts

      # https://github.com/mikepenz/release-changelog-builder-action
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/actions/github-script
      - name: Get Summary
        id: get_summary
        uses: actions/github-script@v6
        with:
          result-encoding: string
          script: |
            const { readFileSync } = require('fs');

            return `${process.env.changelog || ''}\n<details>\n\n${readFileSync(
              './build-artifacts/SUMMARY.md'
            )}\n</details>`;
        env:
          changelog: ${{ steps.github_release.outputs.changelog }}

      # https://github.com/softprops/action-gh-release
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.get_summary.outputs.result }}
          files: ./build-artifacts/*.jar

      # https://github.com/Kir-Antipov/mc-publish
      - name: Releaseï¼ˆCurseForge/Modrinth
        uses: Kir-Antipov/mc-publish@v3.2
        with:
          # # curse forge
          # curseforge-id: 123456
          # curseforge-token: ${{ env.CURSEFORGE_TOKEN }}

          # # modrinth
          # modrinth-id: 1q2w3e4r
          # modrinth-token: ${{ env.MODRINTH_TOKEN }}

          loaders: fabric
          dependencies: '' # declare the dependencies explicitly, so mc-publish won't try to load from fabric.mod.json
